{% extends 'home.html' %}

{% block my_post %}

      <div class="container mt-5">
  <h2 class="mb-4 text-center">All Blog Posts</h2>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for p in posts %}
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            <p class="card-text">{{ p.content}}</p>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between">
            <small>By: {{ p.author.username }}</small>
            <small>{{ p.date_posted|date:"M d, Y H:i" }}</small>
          </div>

           {% if request.user == p.author %}
            <div class="d-flex justify-content-between px-3 pb-3">
              <a href="{% url 'edit_post' p.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
              <a href="{% url 'delete_post' p.id %}" class="btn btn-sm btn-outline-danger"
                 onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
            </div>    
          {% endif %}

        </div>
      </div>
    {% empty %}
      <p>No posts found.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}